* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Thasadith', sans-serif;
  font-size: 0.625rem;
}

input {
  border-radius: 0.2rem;
}

/* .home {
  display: grid;
  grid-template-rows: 15% 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "bar bar bar"
    ". login .";
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)),
    url(../images/landingbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} */

/* .home-navbar {
  grid-area: bar;
  background-color: #fff;
  width: 100vw;
  height: 5rem;
}

.citymain-logo {
  height: 3rem;
  width: auto;
  position: relative;
  top: 1rem;
} */

.dashboard {
  display: grid;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.6rem;
  height: 100vh;
  text-align: center;
}

.header-bar {
  position: fixed;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4% 4% 4%;
  width: 100%;
  height: 2vh;
}

.header-username {
  grid-column-start: 2;
}

.progress-btn {
  width: 5rem;
  grid-column-start: 3;
  cursor: pointer;
}

.logout-btn {
  width: 5rem;
  grid-column-start: 4;
  cursor: pointer;
}

.question-box {
  grid-row-start: 3;
  grid-column-start: 2;
  border: 1px solid black;
  border-radius: .5rem;
  background-color: #fff;
  display: inline-block;
  padding: 2rem;
  text-align: center;
}

.dashboard-username {
  grid-row-start: 2;
  grid-column-start: 2;
}

.dashboard-name {
  grid-row-start: 2;
  grid-column-start: 2;
}

.next-question-btn {
  display: block;
}

.guess-form {
  grid-row-start: 4;
  grid-column-start: 2;
}

.feedback-after-guess {
  grid-row-start: 4;
  grid-column-start: 2;
}

.what-country-q {
  grid-row-start: 2;
  grid-column-start: 2;
  margin-top: 10rem;
}

/* LANDING PAGE */

.home {
  display: grid;
  grid-template-rows: 15% 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "bar bar bar"
    ". login .";
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)),
    url(../images/landingbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.home-navbar {
  grid-area: bar;
  background-color: #fff;
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: center;
}

.citymain-logo {
  height: 3rem;
  width: auto;
  position: relative;
  top: 1rem;
}

.landing-page-container {
  grid-area: login;
  display: grid;
  grid-template-rows: 0.7fr 1fr 1fr 0.3fr;
  grid-template-columns: 1fr;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  padding: 1.2rem;
  border-radius: .5rem;
}

.signup-page-container {
  grid-area: login;
  display: grid;
  grid-template-rows: 0.7fr 1fr 1fr 0.3fr;
  grid-template-columns: 1fr;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  padding: 1.2rem;
  border-radius: .5rem;
}

.welcome-message {
  grid-row-start: 1;
  margin-top: 2rem;
}

.register-message {
  grid-row-start: 1;
  margin-top: 2rem;
}

.app-description {
  grid-row-start: 2;
  margin-top: 1rem;
}

.login-form {
  grid-row-start: 3;
  font-size: 2rem;
  /* grid-column-start: 2; */
}

.login-form input {
  background-color: transparent;
  border: 3px solid rgb(32, 243, 190);
  height: 2rem;
  width: 15rem;
  text-align: center;
  border-radius: 0px;
  color: white;
  font-size: 1.2rem;
}

.login-form input::placeholder {
  color: rgb(32, 243, 190);
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
}

.login-form button {
  background-color: transparent;
  border: 3px solid rgb(32, 243, 190);
  width: 5rem;
  height: 2rem;
  color: rgb(32, 243, 190);
  cursor: pointer;
}
.signup-form {
  grid-row-start: 2;
  margin-bottom: 3rem;
}

.signup-btn {
  grid-row-start: 4;
  /* grid-column-start: 2; */
  font-size: 1rem;
  margin-top: 1rem;
}

.signup-btn-link {
  color: rgb(32, 243, 190);
}

.btn-to-login {
  grid-row-start: 4;
  /* grid-column-start: 2; */
  font-size: 1rem;
  margin-top: 1rem;
}

/* PROGRESS STATS */

/* .dashboard {
  display: grid;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.6rem;
  height: 100vh;
  text-align: center;
} */

.progress-container {
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-start: 2;
  grid-column-start: 2;
  height: 100vh;
  text-align: center;
}

.progress-message {
  grid-row-start: 1;
  grid-column-start: 2;
  font-size: 1.5rem;
}

.progress-box {
  grid-row-start: 2;
  grid-column-start: 2;
  border: 1px solid black;
  border-radius: .5rem;
  background-color: #fff;
  display: inline-block;
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
  list-style: none;
}

.goback-button {
  grid-row-start: 3;
  grid-column-start: 2;
  width: 5rem;
  height: 2rem;
  margin: auto;
}